function isLoggedUser(email) {
  return request.auth.token.email == email;
}

function loggedUserIsGuildMaster(email, database) {
  return get(/databases/$(database)/documents/users/$(email)).data.isOwner
}

service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{email} {
      allow read: if isLoggedUser(email);
      allow create: if isLoggedUser(email) && request.resource.data.isOwner == false;
    }

    match /class/{id} {
      // https://stackoverflow.com/a/41922261/4349619
      // To allow adding new nodes, but prevent deleting or overwriting any node
      // todo if we allow users to change their names this wont work anymore
      allow write: if isLoggedUser(request.auth.token.email) && request.resource.data != null && request.resource.data.name == request.auth.token.displayName;
    }

    match /class/{id} {
      allow write: if loggedUserIsGuildMaster(request.auth.token.email, database);
    }
  }
}